@import "components-mixins/_size-control.scss";

//@VAR form-control
$form-control-class				: '.#{$default-prefix}form-control' !default;
$form-control-margin			: 10px !default;
//!VAR form-control

// @mixin make-base-form-control() {
	#{$form-control-class} {
		margin-bottom: $form-control-margin;
	}
// }
