@import "components-mixins/size-control.scss";

//@VAR tab
$tab-panel-class		: '.#{$default-prefix}tab-panel' !default;
$tab-nav-class			: '.#{$default-prefix}tab-nav' !default;
$tab-container-class	: '.#{$default-prefix}tab-container' !default;
$tab-bd-radius			: $default-bd-radius !default;
$tab-bd-color			: $default-bd-color !default;
$tab-primary-color		: $default-primary-color !default;				// 主样式

$tab-title-radius		: 4px !default;									// 标题圆角
$tab-offseted-margin	: 10px !default;								// 偏移尺寸
$tab-pad-size			: $default-pad-size !default; 			  		// 补白
$tab-bg-color			: $default-bg-color !default; 			  		// 容器背景颜色
$tab-bd-color			: $default-bd-color !default; 			  		// 容器背景颜色

$tab-active-cursor		: $default-active-cursor !default;
//!VAR tab
//!
#{$tab-panel-class} {
	background-color: $tab-bg-color;
	&.dropdown-view {
		> #{$tab-nav-class} {
			border: 1px solid $tab-bd-color;
			border-bottom: 0;
			>.tab-title {
				border-color: transparent;
			    border-radius: 0;
			    border-bottom-width: 2px;
			    &.is-selected {
			    	background-color: #eaeaea;
			    }
			}
			&.is-titled {
				>.tab-title {
					border-top: 0;
					&.is-selected {
						border-bottom-color: $tab-primary-color;
					}
				}
			}
			&.is-bordered + #{$tab-container-class} > .tab-content {
				box-shadow: 0 6px 12px rgba(0,0,0,.175);
			}
		}
	}
}

#{$tab-container-class} { // 容器
	> .tab-content {
		display: none;
		background-color: $tab-bg-color;
		padding: $tab-pad-size;
		border: 1px solid transparent;
		border-top-color: $tab-bd-color;
		&.is-selected {
			display: block;
		}
	}
}

#{$tab-nav-class} {
	display: block;
	margin-bottom: -1px;
	> .tab-title {
		@include make-size-default;
		display: inline-block;
		position: relative;
		user-select: none;
		-webkit-user-select: none;
		border: 1px solid transparent;
		cursor: $tab-active-cursor;
		border-radius: $tab-title-radius $tab-title-radius 0 0;		
		&.is-selected {
			background-color: $tab-bg-color;
	        border-color: $tab-bd-color;
	        border-bottom-color: $tab-bg-color;
		}
	}
	// 表头偏移样式 is-offseted
	&.is-offseted > .tab-title {
		&:first-child { margin-left: $tab-offseted-margin; }
		&:last-child { margin-right: $tab-offseted-margin; }
	}
	// flex 平铺
	&.is-flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		&::before,
		&::after {
			display: flex;
		}
		> .tab-title {
			flex: 1;
			text-align: center;
		}
	}
	// 带表头
	&.is-titled > .tab-title.is-selected {
		border-top: 3px solid $tab-primary-color;
	}
	// 有边框样式 is-bordered
	&.is-bordered + #{$tab-container-class} > .tab-content {
		border-color: $tab-bd-color;
	}
}